.about {
	&__wrapper {
		position: relative;
		.container();
	}

	&__blocks {
		display: flex;
  	justify-content: space-between;
		padding: 0 0 72px;
	}

	&__caption {
		width: 540px;
		margin: 0;
		font-size: 36px;
		line-height: 36px;
	}

	&__description {
		width: 580px;
		margin: 14px 0 0;
		.font-color();
	}

	&-item-1 {
		width: 620px;
		padding-top: 55px;
	}

	&-item-2 {
		width: 240px;
		padding-top: 47px;

		img {
			text-align: center;
		}
	}

	&__link {
		display: inline-block;
		margin-top: 35px;
		font-size: 16px;
		line-height: 22px;
		.font-color();
		text-transform: uppercase;
	}

	&__items {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__item {
		position: relative;
		margin-top: 15px;
		padding-left: 29px;
		.font-color();

		&--red {
			position: absolute;
			top: 9px;
			left: 0;
			height: 1.5px;
			width: 20px;
			background-color: #fb565a;
		}
	}

	&__img {
		display: flex;
  	justify-content: center;	
	}

	&__since {
		position: relative;
		padding: 20px 0 0;
		margin-bottom: 20px;
		text-align: center;

		&--grey {
			position: absolute;
			top: 29px;
			right: 0;
			left: 0;
			z-index: 5;
			border-bottom: 2px solid #eeeeee;
		}
	}

	&__word {
		position: relative;
		z-index: 10;
		padding: 0 10px 0;
		font-size: 16px;
		line-height: 16px;
		text-transform: uppercase;
		background-color: #ffffff;
	}

	&__line {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		border-bottom: 2px solid #eeeeee;
	}
}