.basket__button {
	position: relative;
	.text-options();
	padding-left: 29px;

	&:hover .basket__icon {
		background-image: url(../../img/basket-red.png);	
	}

	&:active .basket__icon {
		opacity: 0.15;
	}
}

.basket__icon {
	position: absolute;
	left: 0;
	top: 48px;
	display: inline-block;
	width: 15px;
	height: 15px;
	background-image: url(../../img/basket.png);
	background-repeat: no-repeat;
	font-size: 0;
}