.page-header {
	max-width: 100%;
	min-width: 920px;
	background-color: #eeeeee;
}

.page-header__wrapper {
	.container();
	display: flex;
  justify-content: space-between;
}

.page-header__logo {
	padding: 27px 0 0;
}