@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto Medium", Arial, sans-serif;
  color: #000000;
  font-style: normal;
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}
.page-header {
  position: relative;
  z-index: 10;
  max-width: 100%;
  min-width: 920px;
}
.page-header__wrapper {
  width: 900px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}
.page-header__logo {
  padding: 22px 0 0;
}
.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__item {
  display: inline-block;
}
.main-nav__item a {
  display: block;
  font-family: "Roboto Medium", Arial, sans-serif;
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  padding: 41px 0 39px;
  padding-left: 17px;
  padding-right: 17px;
}
.main-nav__item a:hover {
  color: #fb565a;
}
.main-nav__item a:active {
  color: rgba(0, 0, 0, 0.4);
}
.basket__button {
  position: relative;
  display: block;
  font-family: "Roboto Medium", Arial, sans-serif;
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  padding: 41px 0 39px;
  padding-left: 29px;
}
.basket__button:hover {
  color: #fb565a;
}
.basket__button:active {
  color: rgba(0, 0, 0, 0.4);
}
.basket__button:hover .basket__icon {
  background-image: url(../../img/basket-red.png);
}
.basket__button:active .basket__icon {
  opacity: 0.15;
}
.basket__icon {
  position: absolute;
  left: 0;
  top: 48px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(../../img/basket.png);
  background-repeat: no-repeat;
  font-size: 0;
}
.page-main {
  margin-top: -110px;
}
.advantage {
  max-width: 100%;
  min-width: 920px;
  background-color: #eeeeee;
}
.advantage__wrapper {
  position: relative;
  width: 900px;
  margin: 0 auto;
  padding: 0 10px;
}
.advantage__caption {
  margin: 0;
  margin-bottom: 14px;
  font-family: "Roboto Medium", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
}
.advantage__description {
  margin: 0;
  margin-bottom: 21px;
}
.advantage__button {
  display: block;
  width: 192px;
  padding: 7px 0 7px;
  font-family: "Roboto Medium", Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #fb565a;
  color: #ffffff;
}
.advantage__button:hover {
  background-color: #d6494d;
}
.advantage__button:active {
  background-color: #b63538;
}
.advantage--invisible {
  display: none;
}
.advantage--active {
  display: block;
}
.advantage-1 {
  position: relative;
  padding: 125px 0 100px;
}
.advantage-1 .advantage__background {
  position: absolute;
  top: 109px;
  right: 0;
  z-index: 5;
  width: 338px;
  height: 231px;
  background-image: url(../../img/all-devices.png);
  background-repeat: no-repeat;
}
.advantage-1 .advantage__caption {
  width: 300px;
}
.advantage-1 .advantage__description {
  width: 380px;
}
.advantage-2 {
  position: relative;
  padding: 125px 0 100px;
}
.advantage-2 .advantage__background {
  position: absolute;
  top: 112px;
  right: 10px;
  z-index: 5;
  width: 230px;
  height: 249px;
  background-image: url(../../img/calculator.png);
  background-repeat: no-repeat;
}
.advantage-2 .advantage__caption {
  width: 470px;
}
.advantage-2 .advantage__description {
  width: 460px;
}
.advantage-3 {
  position: relative;
  padding: 125px 0 100px;
}
.advantage-3 .advantage__background {
  position: absolute;
  bottom: 0;
  right: 10px;
  z-index: 5;
  width: 333px;
  height: 319px;
  background-image: url(../../img/robot.png);
  background-repeat: no-repeat;
}
.advantage-3 .advantage__caption {
  width: 320px;
}
.advantage-3 .advantage__description {
  width: 470px;
}
.slider__toggles {
  position: absolute;
  top: 290px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}
.slider__toggle {
  position: relative;
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 7px;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
.slider__toggle--active .slider__dot {
  position: absolute;
  top: 3px;
  left: 2px;
  width: 3px;
  height: 3px;
  background-color: #c1c1c1;
  border-radius: 5px;
}
.slider__toggle--last {
  margin: 0;
}
.sentence {
  max-width: 100%;
  min-width: 920px;
}
.sentence__wrapper {
  position: relative;
  width: 900px;
  margin: 0 auto;
  padding: 0 10px;
}
.sentence__blocks {
  padding: 80px 0 80px;
  display: flex;
  justify-content: space-between;
}
.sentence__item {
  width: 240px;
}
.sentence__caption {
  margin: 12px 0 0;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}
.sentence__description {
  margin: 7px 0 0;
  font-size: 15px;
  line-height: 22px;
  color: #283136;
}
.sentence__button {
  display: inline-block;
  width: 140px;
  margin: 20px 0 0;
  padding: 8px 0 6px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 2px;
  color: #ffffff;
}
.sentence__button--background-1 {
  background-color: #fb565a;
}
.sentence__button--background-1:hover {
  background-color: #d6494d;
}
.sentence__button--background-1:active {
  padding-top: 5px;
  background-color: #b63538;
  border-top: 3px solid #9b2d30;
}
.sentence__button--background-2 {
  background-color: #00ca74;
}
.sentence__button--background-2:hover {
  background-color: #01a25e;
}
.sentence__button--background-2:active {
  padding-top: 5px;
  background-color: #009053;
  border-top: 3px solid #007b47;
}
.sentence__button--background-3 {
  background-color: #efc84a;
}
.sentence__button--background-3:hover {
  background-color: #d6ae2c;
}
.sentence__button--background-3:active {
  padding-top: 5px;
  background-color: #c09b24;
  border-top: 3px solid #a3841f;
}
.sentence__line {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  border-bottom: 2px solid #eeeeee;
}
.about__wrapper {
  width: 900px;
  margin: 0 auto;
  padding: 0 10px;
}
.about__caption {
  width: 540px;
  margin: 0;
  font-size: 36px;
  line-height: 36px;
}
.about__description {
  width: 580px;
  margin: 14px 0 0;
  font-size: 16px;
  line-height: 22px;
  color: #283136;
}
.about-item-1 {
  padding-top: 55px;
}
.about__link {
  display: inline-block;
  margin-top: 35px;
  font-size: 16px;
  line-height: 22px;
  color: #283136;
  text-transform: uppercase;
}
.about__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.about__item {
  position: relative;
  margin-top: 15px;
  padding-left: 29px;
  font-size: 16px;
  line-height: 22px;
  color: #283136;
}
.about__item--red {
  position: absolute;
  top: 9px;
  left: 0;
  height: 1.5px;
  width: 20px;
  background-color: #fb565a;
}
